/* body{
  width: 80%;
  float: right;
} */
.row1 {
    display: table-cell;
    grid-template-columns: repeat(2, 1fr);
    /* text-align: center; */
    /* width: 20%; */
}
.header {
    display: table;
    width: 100%;
    background-color: #f5f6fa;
    padding: 0;
    text-align: left;
}

.header-ct{
    margin-left: 5%;
    float: left;
    display: table-cell;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 10px;
}
.i1, .p1{
    margin-left: 0px;
    padding-left: 0px;
}
.p1{
    margin-left: 0px;
}
.mb-7{
    border-radius: 20px 0px 20px 0px;
    background-color: #93c240;
    color: white;
    text-align: center;
    width: 230px;
    height: 40px;
    padding-top: 8px; 
    margin-top: 20px;
}
.centent, .body{
    width: 95%;
    float:right;
}
.centent-ct{
    display: table-cell;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10px;
}
.ct-ct1{
    width: 290px;
}
a{
    color: black;
}
.sidebar-single{
    padding: 10px 10px 10px 20px;
    margin-top: 20px;
    border: 1px dashed gray;
}
.footer-wrapper{
    width: 100%;
    float: left;
}